h1
{
	color:rgb(255, 0, 136); 
	font-size: 40px;
}
.body_backgorund {
	background-image:url(photo-1513542789411-b6a5d4f31634.jfif);
	background-position: center;
	background-size:cover ;
}

#my_canvas{
	border-width:10px ;
	background-color: aliceblue;
	border-style: ridge;


}
button{
	position:center ;
}
